<div class="container">
        <h1>Créer un Évènement</h1>

        <%= render 'form', event: @event %>

        <%= link_to 'Voir les détails ', @event, class: "buttonGreen" %> |
        <%= link_to 'Retour', events_path, class:"buttonBlue" %>
</div>