<div class="container">
    <h1>Créer article</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Voir le détail', @post, class: "buttonGreen" %> |
    <%= link_to 'Retour', posts_path, class: "buttonBlue" %>

</div>